body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: url('svgs/background.svg') #edeff0;
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
  transition: color .2s ease-in-out;
  }
.menu-img-color {
  fill: #39add1;
  transition: fill .2s ease-in-out;
}
nav li:hover a{
  color: #111;
}
nav li:hover .st0{
  fill: #111;
}


header {
  padding-top: 10px;
}
  header nav {
    padding-bottom: 50px;
    text-align: left;
  }
  header nav ul li {
    display: inline-block;
    margin-right: 20px;
  }

  header nav ul li a img {
    height: 13px;
  }

  header h1 {
    line-height: 1em;
  }

main {
  padding-top: 50px;
}
  main h2 {
  font-size: 28px;
}
  main ul {
    padding: 0;
  }
    main li {
      display: inline-block;
      color: #ba8058;
      margin-right: 20px;
    }
      main li img {
        margin-bottom: 15px;
      }
      main li span {
        margin-left: -40px;
      }
      main li:last-child {
        margin-right: 0;
      }

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

.logo {
  width: 140px;
  height: 120px;
}
.st1 {
  display: none;
}

.corgi-img {
  width: 170px;
  height: 170px;
}

@media screen and (min-width: 425px) {
  .st1 {
    display: initial;
  }
  header h1 {
    display: none;
  }

}
/***** SVG STYLES ****/

/* LOGO */
.logo .st0{fill:#BA8058;}
.logo .st1{fill:#EAAA7F;}
.logo .st2{fill:#F4C6A6;}

/* RED CORGI */
.red .st0{fill:#BA8058;}
.red .st1{fill:#FBFEFF;}
.red .st2{fill:#2D3339;}
.red .st3{fill:#EAAA7F;}

/* FAWN CORGI */
.fawn .st0{fill:#EAAA7F;}
.fawn .st1{fill:#FBFEFF;}
.fawn .st2{fill:#2D3339;}
.fawn .st3{fill:#F4C6A6;}

/* SABLE CORGI */
.sable .st0{fill:#844B24;}
.sable .st1{fill:#FBFEFF;}
.sable .st2{fill:#2D3339;}
.sable .st3{fill:#BA8058;}

/* BLACK-TAN CORGI */
.black-tan .st0{fill:#BA8058;}
.black-tan .st1{fill:#52595F;}
.black-tan .st2{fill:#FBFEFF;}
.black-tan .st3{fill:#2D3339;}

/***** TRANSITONS AND ANIMATIONS *****/
.corgi-img:hover {
  
}